@font-face {
    font-family: 'Code Pro';
    src: local('Code Pro Light Lowercase'), local('Code-Pro-Light-Lowercase'),
        url('Code-Pro-Light-LC.woff2') format('woff2'),
        url('Code-Pro-Light-LC.woff') format('woff'),
        url('Code-Pro-Light-LC.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }