@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Code Pro Light";
  src: url("./assets/fonts/Code-Pro-Light-LC.ttf") format("truetype");
}
@font-face {
  font-family: "Code Pro regular";
  src: url("./assets/fonts/Code-Pro-LC.otf") format("opentype");
}
@font-face {
  font-family: "Code Pro bold";
  src: url("./assets/fonts/Code-Pro-Bold-LC.otf") format("opentype");
}
@layer base {
  html {
    font-family: "Code Pro regular";
  }
}

section {
  padding-top: 5rem;
}
body {
  background-color: #090913;
}

h1, h2 {
  line-height: 1;
}

p,
span {
  font-family: "Code Pro regular";
  font-size: 1.15rem;
}

.container {
  margin: auto;
  max-width: 70rem;
  padding: 0 2rem;
}

@media (min-width: 768px) {
  .container {
  margin: auto;
  max-width: 70rem;
  padding: 0 1rem;
}
}

.map-img {
  background-image: url("./assets/images/map.png");
}

.prices span {
  font-size: 0.9rem;
  font-family: "Code Pro regular";
}

/* evaluation */
.shadow {
  box-shadow: 0px 2px 45px 4px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 0px 2px 45px 4px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 0px 2px 45px 4px rgba(0, 0, 0, 0.65);
}

.footer-gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    150deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(42, 27, 43, 1) 100%
  );
}
/* Swipe caroulsel */

.swiper-wrapper {
  width: 100%;
}

